body { 
    background-image: url("./assets/images/globe3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: block;

}
.content{
    /* margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 50%; */
margin: auto;
}
.highlight{
    background-color: rgba(255, 228, 196, 0.555);
    color: blue;
}
