*{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body, footer {     
    background: linear-gradient(to bottom right, rgb(119, 156, 127), rgb(21, 44, 27));

}

body {
    height: 100vh;
    /* background-image: url("./images/globe.png"); */
    /* background: green ; */
    background-image: linear-gradient(to bottom right, rgb(119, 156, 127), rgb(21, 44, 27));
    /* background-image: url("./images/globe3.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: block;
}

header {
    position: relative;
    top: 0;
    text-align: center;
}

main {
    border-radius: 20px;
    padding: 2px;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 10px;
}

section {
    text-align: center;
    font-size: larger;
}

.conversion-display {
    text-align: center;
}

.content{
    /* margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 50%; */
margin: auto;
}

.highlight{
    background-color: rgba(255, 228, 196, 0.555);
    color: blue;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    margin-top: 60vh;
    font-size: large;
    font-weight: 500;
}


